# Common
Makefile
Makefile.in
.deps
.libs
*.pc
*.bz2
*.rpm
*~


# Autobuild
aclocal.m4
autoconf
autoheader
autom4te.cache/
automake
build.counter
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
include/stamp-*
libltdl.tar
libtool
libtool.m4
ltdl.m4
ltmain.sh
missing
py-compile

# Build targets
cts/CTSvars.py
cts/LSBDummy
cts/benchmark/clubench
include/config.h
include/config.h.in
include/crm_config.h
mcp/pacemaker
mcp/pacemaker.service
pengine/regression.core.sh
publican.cfg
shell/modules/help.py
shell/modules/ra.py
shell/modules/ui.py
shell/modules/vars.py
tools/coverage.sh
tools/crm_primitive.py
tools/crm_report
tools/hb2openais.sh

#Other 
mock
pacemaker.spec
