# Common
GPATH
GRTAGS
GTAGS
TAGS
Makefile
Makefile.in
.deps
.libs
*.pc
*.pyc
*.bz2
*.rpm
*.la
*.lo
*.o
*~
*.gcda
*.gcno


# Autobuild
aclocal.m4
autoconf
autoheader
autom4te.cache/
automake
build.counter
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
include/stamp-*
libltdl.tar
libtool
libtool.m4
ltdl.m4
ltmain.sh
missing
py-compile
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# Configure targets
cts/CTSvars.py
cts/LSBDummy
cts/benchmark/clubench
include/config.h
include/config.h.in
include/crm_config.h
mcp/pacemaker
mcp/pacemaker.service
pengine/regression.core.sh
publican.cfg
shell/modules/help.py
shell/modules/ra.py
shell/modules/ui.py
shell/modules/vars.py
tools/coverage.sh
tools/crm_report
lrmd/regression.py
fencing/regression.py

# Build targets
*.7
*.7.xml
*.7.html
*.8
*.8.xml
*.8.html
doc/*/en-US/images/*.png
doc/*/tmp/**
doc/*/publish
cib/cib
cib/cibmon
cib/cibpipe
crmd/atest
crmd/crmd
doc/Clusters_from_Scratch.txt
doc/Pacemaker_Explained.txt
doc/acls.html
doc/crm_fencing.html
fencing/stonith-test
fencing/stonith_admin
fencing/stonithd
fencing/stonithd.xml
lrmd/lrmd
lrmd/lrmd_test
mcp/pacemakerd
pengine/pengine
pengine/pengine.xml
pengine/ptest
shell/regression/testcases/confbasic-xml.filter
scratch
tools/attrd
tools/attrd_updater
tools/cibadmin
tools/crm_attribute
tools/crm_diff
tools/crm_mon
tools/crm_node
tools/crm_resource
tools/crm_shadow
tools/crm_simulate
tools/crm_uuid
tools/crm_verify
tools/crmadmin
tools/iso8601
tools/crm_ticket
tools/report.collector.1
xml/crm.dtd
xml/pacemaker.rng
extra/rgmanager/ccs2cib
extra/rgmanager/ccs_flatten
extra/rgmanager/disable_rgmanager
doc/Clusters_from_Scratch/en-US/Ap-Configuration.xml
doc/Clusters_from_Scratch/en-US/Ap-Corosync-Conf.xml
doc/Clusters_from_Scratch/en-US/Ap-Reading.xml
doc/Clusters_from_Scratch/en-US/Ch-Active-Active.xml
doc/Clusters_from_Scratch/en-US/Ch-Active-Passive.xml
doc/Clusters_from_Scratch/en-US/Ch-Apache.xml
doc/Clusters_from_Scratch/en-US/Ch-Installation.xml
doc/Clusters_from_Scratch/en-US/Ch-Intro.xml
doc/Clusters_from_Scratch/en-US/Ch-Shared-Storage.xml
doc/Clusters_from_Scratch/en-US/Ch-Stonith.xml
doc/Clusters_from_Scratch/en-US/Ch-Tools.xml
doc/Clusters_from_Scratch/en-US/Ch-Verification.xml
doc/Pacemaker_Explained/en-US/Ch-Basics.xml
doc/Pacemaker_Explained/en-US/Ch-Options.xml
lib/gnu/libgnu.a
lib/gnu/stdalign.h
*.coverity

#Other 
mock
HTML
pacemaker.spec
pengine/.regression.failed.diff
ClusterLabs-pacemaker-*.tar.gz
coverity-*

compat_reports
.ABI-build
abi_dumps
logs

*.patch
*.diff
*.sed
*.orig
*.rej
*.swp
pengine/test10/shadow.*
