Andreas Grüninger <andreas.grueninger@lgl.bwl.de> <andreas.grueninger@server>
Andrew Beekhof <andrew@beekhof.net> <abeekhof@nsew.lab.bos.redhat.com>
Bin Liu <bliu@suse.com>
Bin Liu <bliu@suse.com> <liu4480@126.com>
David Vossel <davidvossel@gmail.com> <dvossel@dvossel-work.awesome>
David Vossel <davidvossel@gmail.com> <dvossel@gmail.com>
David Vossel <davidvossel@gmail.com> <dvossel@redhat.com>
David Vossel <davidvossel@gmail.com> <root@dvossel-work.awesome>
Hideo Yamauchi <renayama19661014@ybb.ne.jp>
Hideo Yamauchi <renayama19661014@ybb.ne.jp> <yamauchi@.intellilink.co.jp>
Hu Fu <askfuhu@gmail.com>
Jan Pokorný <jpokorny@redhat.com>
Lars Ellenberg <lars.ellenberg@linbit.com> <makepkg@buildsystem.linbit>
Lidong Zhong <lzhong@suse.com> <ultra.gammaray@gmail.com>
Yan Gao <ygao@suse.com>
Yan Gao <ygao@suse.com> <ygao@novell.com>
Yuusuke Iida <yusk.iida@gmail.com>
Yuusuke Iida <yusk.iida@gmail.com> <iidayuus@intellilink.co.jp>
Yuusuke Iida <yusk.iida@gmail.com> <yusuke.iida@gmail.com>
